<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kup nowego coina</title>
    <link rel="stylesheet" th:href="@{styleformyhtml.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<h1 class="walletheader"><span style="color: snow">MyCryptoWalletApp</span></h1>
<h2></h2>


<h1>kup nowego coina</h1>
<div class="container text-center" style="border: red solid 2px; width: 100%">

    <div class="container text-center">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-6">
                <h1></h1>
                <div class="input-group mb-3">
                    <form action="#" th:action="@{/search/coin}" th:object="${emptyCoin}" method="post">

                        <p>Id: <input type="text" th:field="*{symbol}" id="inputCoin" class="form-control" placeholder="Search Coin" aria-label="Search Coin" aria-describedby="button-addon2"/></p>
                        <p><input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Submit"/></p>
                        <div id="SearchCoinFromHere" class="form-text input-group mb-3">
                            poszukaj swojego coina
                        </div>


                    </form>
                </div>
            </div>
            <div class="col">
                Column
            </div>
        </div>
    </div>

    <div class="container" style="width: 100%">
        <h2 class="text-center">Wybierz Coina</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">nazwa</th>
                <th scope="col">symbol</th>
                <th scope="col">aktualna cena</th>
                <th scope="col">zmiana%</th>
                <th scope="col">volumen</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coin,iterStat: ${result}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${coin.name}"></td>
                <td th:text="${coin.symbol}"></td>
                <td th:text="${coin.lastPrice}"></td>
                <td th:text="${coin.priceChangePercent}"></td>
                <td th:text="${coin.volume}"></td>
                <td>
                    <a th:href="@{/buy/{coinSymbol}(coinSymbol=${coin.symbol})}" type="button" class="btn btn-light ">
                        KUP
                    </a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>
</body>
</html>