<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Wallet</title>
    <link href="../.. static/styleformyhtml.css" th:href="@{/styleformyhtml.css}" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<h1 class="walletheader"><span style="color: snow">MyCryptoWalletApp</span></h1>
<h2></h2>
<!--
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select wallet
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li th:each="walletId : ${allWalletsId}">
                <a class="dropdown-item" th:href="@{/wallet/{id}(id = ${walletId})}"><span th:text="${walletId}"></span></a>
            </li>
        </ul>
    </div>
-->
<h1></h1>
<h1></h1>


<form action="#" th:action="@{/new_wallet}" th:object="${emptyWallet}" method="post">
    <p>Nazwa Portfela:  <input type="text" th:field="*{walletId}"/></p>
<select th:field="*{startBalance}">
    <option th:each="balance : ${T(com.isa.menu.Balance).values()}" th:value="${balance}" th:text="${balance}"/>
</select>
<p><input type="submit" value="Submit"/></p>

    <!-- #TODO dodać walidację -->
</form>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous">
  </script>
</body>
</html>